/*------------------------------------------------------------------
  	[Button]
------------------------------------------------------------------*/
.header__button {
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 140px;
  width: 213px;
  height: 53px;
  background-color: #ffffff;
  border-radius: 26px;
  font-size: 18px;
  font-family: "Roboto Slab";
  color: rgb(97, 35, 22);
  line-height: 1.667;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__button:hover {
  background-color: #dd4b2b;
  color: #ffffff;
  transform: scale(1.1,1.1);
  cursor: pointer;
}

.our-news__button {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(78, 81, 89);
  height: 40px;
  width: 150px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}
.our-news__button:hover {
  cursor: pointer;
  background-color: #dd4b2b;
  color: #ffffff;
}
.product__item-button-red {
  width: 212px;
  height: 54px;
  border-radius: 27px;
  background: #dd4b2b;
  border: none;
  box-shadow: none;
  font-size: 18px;
  font-family: "Roboto Slab";
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.product__item-button-red:hover {
  transform: scale(1.1,1.1);
  cursor: pointer;
}
.product__item-button-purple {
  width: 212px;
  height: 54px;
  border-radius: 27px;
  background: purple;
  border: none;
  box-shadow: none;
  font-size: 18px;
  font-family: "Roboto Slab";
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.product__item-button-purple:hover {
  transform: scale(1.1,1.1);
  cursor: pointer;
}

